@CHARSET "UTF-8";

.noUi-pips-horizontal {
	height: 45px !important;
}

.noUi-horizontal .noUi-handle {
	width: 15px !important;
    height: 15px !important;
    border-radius: 1em !important;
    right: -8px !important;
    top: -5px !important;
    cursor: pointer;
}

.noUi-handle:after, .noUi-handle:before {
	content: "";
    display: none !important;
    height: 0px !important;
    width: 0px !important;
    background: none !important;
    left: 14px;
    top: 6px;
}

.noUi-target {
	height : 10px !important;
}

.noUi-connects {
	cursor: pointer;
}